:root {
    --preto: #333;
    --rosa: #db929e;
    --branco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #fde8eb;
    color: var(--preto);
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2.0rem;
    text-align: center;
}

h3 {
    font-size: 1.0rem;
}

header {
    position: relative;
    background: url('balloons.webp') no-repeat center center/cover;
    color: var(--branco);
    padding: 50px;
    height: 80px;
    background-size: cover;
    background-position: center 70%;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 38, 38, 0.685);
    z-index: 1;
    pointer-events: none;
}

nav {
    position: relative;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--branco);
}

.intro-section {
    color: var(--preto);
    text-align: center;
    padding: 20px;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: var(--rosa);
    color: var(--branco);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #e6b5bd;
}

.about-section, .problem-section, .practice-section, .comp-section, .contact-section {
    padding: 20px 20px;
    text-align: center;
    margin: 10px;
}


.contact-section, .about-section{
    background-color: var(--rosa);
    margin: 25px;
    width: 95%;
}

.comp-section{
    margin: 25px;
}

.contact-section{
    text-align: center;
    color: var(--branco);
}

.about-section-div{
    margin-top: 15px;
}

.problem-section-div, .practice-section-div{
    padding: 20px;
    color: var(--branco);
    background-color: var(--rosa);
    margin-bottom: 20px;
}

.intro-section p, .intro-section h1{
    text-align: center;
}

.contact-section p{
    text-align: center;
}

.about-section h2, .about-section-div p{
    color: var(--branco);
    margin-top: 10px;
}

.problem-section p, .practice-section p, .practice-section h3{
    margin: 15px;
}

.problem-section-div p, .practice-section-div p, .practice-section-div h3, .practice-section-div a{
    margin: 0px;
}

.info-box h3, .info-box p{
    text-align: center;
}


.contact-section a {
    color: #e91e63;
    text-decoration: none;
}

.about-section-image {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.info-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    p {
        font-size: 1.0rem;
    }
    .info-box p {
        font-size: 0.9rem;
    }
    .nav-links {
        display: none;
        flex-direction: column;
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: flex;
    }
    .btn {
        flex: 1 1 100%;
        text-align: center;
    }
    .about-section-image {
        max-width: 100%;
    }
    .button-container {
        flex-direction: column;
        gap: 5px;
    }
    .info-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .about-section, .problem-section, .practice-section, .comp-section, .contact-section {
   
        margin: 0px;
    }

    .problem-section p{
        margin-bottom: 15px;
    }

    .problem-section-div{
        margin-top: 5px;
    }

    .practice-section-div p{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
}
